.dashboard {
    display: flex;
    flex-direction: row;
}

.dashboard-body {
    background: #F2F2F2;
    width: 75vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 20px;
    /* justify-content: center; */
}

/* .dashboard-body div:nth-child(1) {
    margin-left: 10px;
    border: 1px solid red;
} */

.dashboard--logout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 30px; */
    font-family: Montserrat;
}

.dashboard--logout a {
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    color: #7631E6;
}

.dashboard--heading {
    /* margin-left: 50px; */
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 700;
}

.dashboard--logout button {
    font-size: 20px;
    font-weight: 600;
    color: #7631E6;
    border: none;
}

.dashboard--logout button:hover {
    cursor: pointer;
}

.wallet-balance {
    width: 48%;
    height: 20%;
    margin-bottom: 20px;
    padding: 10px;
    background: #FFFFFF;
    /* margin-left: 20px; */
    font-family: Montserrat;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.wallet-balance .wallet-balance--heading {
    /* margin-left: 40px; */
    font-size: 15px;
    font-weight: 700;
}

.wallet-balance .amount {
    font-size: 30px;
    font-weight: 500;
}

.wallet-balance button {
    width: 40%;
    height: 50px;
    color: #7631E6;
    font-size: 16px;
    font-weight: 700;
    border: 2px solid #7631E6;
    outline: none;
    background: #FFFFFF;
}

/* .money {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 30px;
    font-family: Montserrat;
    margin-top: 10px;
} */

.order-info {
    width: 48%;
}

.order-notifications {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: Montserrat;
}

.notifications {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    font-family: Montserrat;
    width: 48%;
    padding: 10px;
}

.notifications h2 {
    margin-left: 0px;
    margin-bottom: 10px;
}

.notifications-details {
    display: flex;
    flex-direction: column;
    font-family: Montserrat;
    border-left: 5px solid #7631E6;
    margin-bottom: 8px;
    padding: 5px;
}

.notifications-details-info {
    display: flex;
    flex-direction: row;
    font-family: Montserrat;
    justify-content: space-between;
}

.notifications-details-info div:nth-child(2) {
    font-size: 14px;
    font-weight: 700;
}

.notifications-details-info div:nth-child(1) {
    font-size: 16px;
    font-weight: 400;
}

.order-info div:first-child, .order-info div:last-child {
    background: #FFFFFF;
    margin-bottom: 10px;
    height: 180px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}

.order-info img {
    width: 70px;
}

.order-info div p {
    font-size: 15px;
}

.order-info a {
    text-decoration: none;
    color: #000000;
}

.order-info a:hover {
    background: #7631E6;
    color: #ffffff;
    height: 100%;
}


@media only screen and (max-width: 768px) {
    .dashboard {
        display: flex;
        flex-direction: column;
    }

    .dashboard-body {
        background: #F2F2F2;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 10px;
        /* justify-content: center; */
    }

    .wallet-balance {
        width: 100%;
        height: 100px;
        margin-bottom: 20px;
        padding: 10px;
        background: #FFFFFF;
        /* margin-left: 20px; */
        font-family: Montserrat;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    .wallet-balance .wallet-balance--heading {
        /* margin-left: 40px; */
        font-size: 15px;
        font-weight: 700;
    }
    
    .wallet-balance .amount {
        font-size: 30px;
        font-weight: 500;
    }
    
    .wallet-balance button {
        width: 40%;
        height: 50px;
        color: #7631E6;
        font-size: 16px;
        font-weight: 700;
        border: 2px solid #7631E6;
        outline: none;
        background: #FFFFFF;
    }

    .order-notifications {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-family: Montserrat;
    }

    .order-info {
        width: 100%;
    }

    .notifications {
        display: flex;
        flex-direction: column;
        background: #FFFFFF;
        font-family: Montserrat;
        width: 100%;
        padding: 0px;
    }
    
    .notifications h2 {
        margin-left: 0px;
        margin-bottom: 10px;
    }

    .notifications-details {
        display: flex;
        flex-direction: column;
        font-family: Montserrat;
        border-left: 5px solid #7631E6;
        margin-bottom: 8px;
        padding: 0px;
    }
    
    .notifications-details-info {
        display: flex;
        flex-direction: row;
        font-family: Montserrat;
        justify-content: space-between;
    }
    
    .notifications-details-info div:nth-child(2) {
        font-size: 14px;
        font-weight: 700;
    }
    
    .notifications-details-info div:nth-child(1) {
        font-size: 16px;
        font-weight: 400;
    }
    
    
}