.forgot {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.forgot-image img {
    height: 100vh;
}

.forgot-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
}

.forgot-box .logo {
    position: fixed;
    top: 0;
}

.forgot-heading p {
    font-family: Montserrat;
    font-size: 18px;
    margin-bottom: 30px;
}

.forgot-heading h2 {
    color: #7631E6;
    font-size: 45px;
    font-weight: 800;
    font-family: Montserrat;
}

.forgot-email-label {
    font-size: 20px;
    font-weight: 800;
    font-family: Montserrat;
}

.forgot-box input {
    width: 300px;
    height: 40px;
}

.forgot-box button {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 16px;
    background: #7631E6;
    margin-top: 10px;
    border: none;
    width: 300px;
    height: 30px;
}

.forgot-box ::placeholder {
    padding: 10px;
}