.video-container {

    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
  }
  
  .video-container iframe {
    width: 70%; 
    height: 100%; 
  }

  @media only screen and (max-width: 768px) {
    .video-container {
      margin-top: 30px;
      margin-bottom: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 250px;
    }
    
    .video-container iframe {
      width: 70%; 
      height: 100%; 
    }
  }
  