


@media only screen and (min-width: 301px) and (max-width: 550px) {
  .login {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.login-image {
  display: none;
}

.login-box .logo {
    position: fixed;
    top: 0;
    width: 80vw;
}

.form-group p {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
}

.login-box {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-right: 50px; */
    width: 100%;
}

.welcome {
  margin-top: 20px;
  width: 80vw;
}

.welcome p {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
}

.welcome p:nth-child(1) {
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 800;
}

.login-form {
  display: flex;
  flex-direction: column;
  /* width: 100vw; */
}

.login-form input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #000000;
  height: 5px;
  border-radius: 3px;
  width: 80vw !important;
}

.forgot-password {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: Montserrat;
  font-size: 16px;
}

.forgot-password a {
    text-decoration: none;
    color: #7631E6;
    font-family: Montserrat;
}


.login-form button {
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #7631E6;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 18px;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px !important;
}


}
@media only screen and (min-width: 551px) and (max-width: 960px) {
.login {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.login-box .logo {
    position: fixed;
    top: 0;
}

.form-group p {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
}

.login-box {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 50px;
    width: 40vw;
}

.welcome {
  margin-top: 20px;
}

.welcome p {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
}

.welcome p:nth-child(1) {
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 800;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #000000;
  height: 5px;
  border-radius: 3px;
  width: 40vw !important;
}

.forgot-password {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: Montserrat;
  font-size: 16px;
}

.forgot-password a {
    text-decoration: none;
    color: #7631E6;
    font-family: Montserrat;
}


.login-form button {
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #7631E6;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 18px;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px !important;
}

.login-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-image img {
    /* height: 100vh; */
    width: 40vw;
    /* display: none; */

}
}

@media only screen and (min-width: 961px) {

.login {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.login-box .logo {
    position: fixed;
    top: 0;
}

.form-group p {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
}

.login-box {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 50px;
    width: 30%;
}

.welcome {
  margin-bottom: 20px;
}

.welcome p {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;  
}

.welcome p:nth-child(1) {
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 800;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #000000;
  border-radius: 3px;
  width: 300px;
}

.forgot-password {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: Montserrat;
  font-size: 16px;
}

.forgot-password a {
    text-decoration: none;
    color: #7631E6;
    font-family: Montserrat;
}


.login-form button {
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #7631E6;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 18px;
  border: none;
  cursor: pointer;
}

.login-image {
  width: 30%;
}

.login-image img {
    height: 100vh;
}


}


@keyframes loading {
  0% {
    content: "";
  }
  33% {
    content: ".";
  }
  66% {
    content: "..";
  }
  100% {
    content: "...";
  }
}

.loading-button {
  position: relative;
}

.loading-button.loading::after {
  content: " ";
  display: inline-block;
  width: 1ch;
  animation: loading 1s infinite;
}


/* Add these styles to your login.css file */
.login-success-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-success-body {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.login-success-body h2 {
  margin-top: 0;
  margin-bottom: 10px;
}


.error-message {
  color: red;
  margin-top: 5px;
  font-size: 14px;
}

