.services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.services-heading {
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 0em;   
}

.services-info {
    display: flex;
    flex-direction: row;
}

.services-info div img {
    width: 270px;
}

.services-info div {
    width: 290px;
}

.services-info h3 {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0em;   
}

.services-info p {
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 500;
    color: #000000;
}

.services-info p:nth-child(5) {
    color: #7631E6;
    font-size: 16px;
    font-weight: 600;
}

.services-info a {
    color: #7631E6;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
}